.ContenedoresPrincipales{
  width: 100%;
  height:50%;
}

.ContenedorTexto1, .ContenedorTexto2{
  text-align: center;
  background: #C2CFF1;
  width: 400px;
  margin: 3px;
}

.ContenedorTexto1{
  position: absolute;
  left: 30%;
  height: 80px;

}

.ContenedorTexto2{
  position: absolute;
  left: 30%;
  top: 105px;

}
h1{
  font-size: 20px;
}

h2{
  font-size: 20px;
}

h3{
  margin-top: 5px;
  font-size: 20px;
  float: left;
  padding-left: 60px;
}

h4{
  margin-top: 5px;
  font-size: 20px;
  float: left;
  padding-left: 110px;
}

.form1{
  text-align: center;
  margin: auto;
  width: 50%;
  max-width: 300px;
  background: #C2CFF1;
  padding: 30px;
  position: absolute;
  top: 70%;
  left: 20%;
  transform: translate(-50%, -50%)
}

.form2{
  text-align: center;
  margin: auto;
  width: 50%;
  max-width: 300px;
  background: #C2CFF1;
  padding: 30px;
  position: absolute;
  top: 70%;
  left: 70%;
  transform: translate(-50%, -50%)
}

.listBox{
  width: 60%;
  font-size: 15px;
  padding: 10px;
  margin-top: 5%;
  margin-inline-end: 5%;
  border: 1px solid #000;
}

.PuntosCanje{
  position: relative;
  top: 10px;
  display: block;
  padding: 10px;
  width: 92%;
  margin-top: 5%;
  font-size: 15px;
}

input[type="submit"]{
  display: block;
  padding: 10px;
  width: 100%;
  margin-top: 10%;
  font-size: 15px;
  background: #2B82F1;
  color: #FFFFFF;
  cursor: pointer;
}
