<div>
  <form id= "frmNuevo">

    <h2 id="crearPromocion">Nueva Promocion</h2>
    <div>
      <input id="nombrePromocion" class= "entradas" type="text" placeholder="Promocion" name="nomPromocion">
      <input id="descripcionPromocion" class= "entradas" type="text" placeholder="Descripcion de la Promocion" name="desPromocion">
      <input id="fechaInicio" class= "entradas" type="date" placeholder="Fecha Inicio" name="feIni">
      <input id="fechaFin" class= "entradas" type="date" placeholder="Fecha Fin" name="feFi">
      <input type="submit" value="Crear Promocion">

    </div>
    </form>


  <form id="frmMaterial">

    <h2 id="modiMaterial">Modificacion de Material</h2>
    <div>
      <select class= "listBox" name="TipoMaterial">
        <option>Promocion</option>
      </select>
      <label id="estMat">Estado Promocion</label>
      <input type="checkbox" id="estado" value="first_checkbox">
      <input id="moddescripcionPromocion" class= "entradas" type="text" placeholder="Descripcion Promocion" name="modDesPromocion">
      <input id="modFechaInicio" class= "entradas" type="date" placeholder="Fecha Inicio" name="modFechaInicio">
      <input id="modFechaFin" class= "entradas" type="date" placeholder="Fecha Fin" name="modFechaFin">
      <input type="submit" value="Modificar Promocion">

    </div>
    </form>

  </div>
