<div class="grid-container">
  <div class="grid-item">
    <app-tacometro></app-tacometro>
  </div>
  <div class="grid-item">
    <app-grafico-columnas-simples></app-grafico-columnas-simples>
  </div>
  <div class="grid-item">
    <app-grafico-columnas-simples></app-grafico-columnas-simples>
  </div>
  <div class="grid-item">
    <app-grafico-linea-simple></app-grafico-linea-simple>
  </div>
  <div class="grid-item">
    <app-grafico-fila-apilada></app-grafico-fila-apilada>

  </div>
  <div class="grid-item">
    <app-top-estudiantes></app-top-estudiantes>

  </div>

</div>


