<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>


<div>
<form action="">

  <img src = "../assets/imagenes/TEColonesSinFondo.png" style="height:80px; width: 450px"/>
  <h2 id="titulo1">Inicio de sesión</h2>
  <input type="text" placeholder="Carnet" name="carnet">
  <input type="password" placeholder="Contraseña" name="clave">
  <h2 id="recuerdaContra"><u>¿Olvidaste tu contraseña?</u></h2>
  <input type="submit" value="Iniciar sesión" routerLink="/navegacion-principal">
  <h2 id="creaCuenta"><a routerLink="/registro">¿No tiene una cuenta? Registrate!</a></h2>

</form>
<router-outlet></router-outlet>
</div>



