

<div>
<form>

  <img src = "../assets/imagenes/TEColonesSinFondo.png" style="height:80px; width: 450px"/>
  <h2 id="AdmiMaterial">Administrar Materiales</h2>
  <div>
    <input id="nombreMaterial" type="text" placeholder="Material" name="material">
    <input id="caracteristicaMaterial" type="text" placeholder="Descripcion Material" name="desMaterial">
    <input id="pesoBaseMaterial" type="text" placeholder="Peso Base" name="pesBase">
    <input id="equivalenciaTecolones" type="text" placeholder="Equivalencia Tecoloones" name="equiTecolones">
    <input type="submit" value="Crear Materrial">
  </div>


</form>
</div>
