.sidenav-container {
  height: 100%;
  background: #002C5C;

}

.sidenav {
  width: 200px;
  background: #002C5C;
}

.mat-toolbar-row {
  background: #002C5C;

}

.mat-sidenav-content{
  background: #FFFFFF;
}

.mat-toolbar.mat-primary {
  position: fixed;
}

.ContenedorBarraHerramientas{
  background: #002C5C;
}

.ContenedorPrincipal{
  background: #002C5C;
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

}

.ContenedorSecundario{
  background: white;
}

p{
  color: white;
}

.boton{
  background: #002C5C;
  width: 100%;
}

.boton:hover{
  background-color: #2B82F1;
  width: 100%;
}


.mat-list-item {
  margin-top: 40px;
}

#botonMenu{
  background: #002C5C;
}

.mat-icon{
  color: #FFFFFF;
  font-size: 30px;
  height: 40px;
  padding-bottom: 5px;
}

#menu{
  position: relative;
  top: 15px;
}



.example-spacer {
  border-block-end: 100%;
}

.example-icon {
  padding: 0 14px;
  float: right;
  padding-top: 15px
}

.Contenedor{
  padding: 10px;
  width: 500px;
}


